<div class="autocomplete" ng-show="suggestionList.visible"> 
  <ul class="suggestion-list">
    <li class="suggestion-item"
        ng-repeat="item in suggestionList.items track by track(item)"
        ng-class="{selected: item == suggestionList.selected}"
        ng-click="addSuggestion()"
        ng-mouseenter="suggestionList.select($index)">
	    <div class="contact-picture"><img ng-src="item.picture"></div>
	    <div class="contact-mail" ng-bind-html="highlight(item)"></div>
		<div class="contact-name" ng-bind-html="highlightContactName(item.completeName)"></div>
    </li>
  </ul>
</div>